/* TaskList.css */

.allTodo {
    list-style-type: none;
    padding: 0;
  }
  
  .singleTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .todoText {
    font-size: 18px;
  }
  
  button {
    padding: 10px;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    background-color: orangered;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: darkred;
  }
  